body {
   display: flex;
   justify-content:center;
   background-color:#F2F2F2;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius:10px;
    margin-top:9.5rem;
    width: 20rem;
    height: 32rem;
    background-color: white;
}
.qrcode{
   margin:1rem 1rem 0;
  width: 18rem;
  height: 14.25rem
  border-radius: .625rem;
}

::root {
    box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}

.paragraph {
  margin:1.75rem auto 0;
  width:16rem;
  font-family:'Outfit Regular';
  font-weight: normal;
  font-size:.93rem;
  line-height: 1.2rem;
  text-align: center;
}
.heading {
    text-align: center;
    margin:1.75rem auto 0;
    width:18rem;
    font-family:'Outfit Bold';
    font-weight:normal;
    font-size: 1.37rem;
    line-height: 1.75rem;
}
